:host {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
}

.feather {
  width: 1em;
  height: 1em;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.size-2x  { font-size: 2em; }
.size-3x  { font-size: 3em; }
.size-4x  { font-size: 4em; }
.size-5x  { font-size: 5em; }